<div class="membership-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="header-content">
            <h2 class="modal-title">Join Our Learning Community</h2>
            <p class="modal-subtitle">
              Start your learning journey with us today
            </p>
          </div>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            routerLink="../become-member"
          >
            X
          </button>
        </div>
  
        <div class="modal-body">
          <div class="row g-4">
            <div class="col-lg-5 membership-info">
              <div class="community-welcome">
                <div class="welcome-content">
                  <h3>Welcome to our global community!</h3>
                  <p class="lead">
                    Connect with thousands of learners worldwide, share insights,
                    and grow together.
                  </p>
                </div>
  
                <div class="community-features">
                  <div class="feature-item">
                    <div class="feature-icon">
                      <i class="fas fa-comments"></i>
                    </div>
                    <div class="feature-text">
                      <h5>Engage in forums</h5>
                      <p>Participate in topic discussions with peers</p>
                    </div>
                  </div>
  
                  <div class="feature-item">
                    <div class="feature-icon">
                      <i class="fas fa-users"></i>
                    </div>
                    <div class="feature-text">
                      <h5>Join study groups</h5>
                      <p>Collaborate with like-minded learners</p>
                    </div>
                  </div>
  
                  <div class="feature-item">
                    <div class="feature-icon">
                      <i class="fas fa-calendar-check"></i>
                    </div>
                    <div class="feature-text">
                      <h5>Attend live events</h5>
                      <p>Webinars, Q&As, and workshops</p>
                    </div>
                  </div>
                </div>
  
                <div class="community-image">
                  <img
                    src="istockphoto-1412778148-612x612.jpg"
                    alt="Diverse people collaborating on learning projects"
                    class="img-fluid"
                  />
                  <div class="image-overlay">
                    <p>Over 250,000 members worldwide</p>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-7"></div>
          </div>
        </div>
      </div>
    </div>
  </div>